@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap");

body {
  background-color: #00523f !important;
}

/************************* header text styling************** */
.text-label {
  position: absolute;
}

.text-alumni {
  font-family: "Princess Sofia", cursive !important;
  font-weight: 400 !important;
  font-style: normal !important;

  color: #ffffff !important;
  margin: -45px 0px 0px 20px !important;
  font-size: 25px !important;
  position: relative;
}

.text-tracker {
  color: #45413d;
  font-weight: bolder;
  margin: -5px 0px 0px 45px !important;
  font-size: 10px !important;
}

/*********************** logo styling****************** */

.Logo {
  position: absolute !important;
  z-index: -200;
}
.crmc-logo {
  position: relative !important;
  max-width: 360px !important;
  max-height: 360px !important;
  margin: 150px 0px 0px 550px !important;
}

/********************* welcome text styling*********************** */
.label-welcome {
  position: absolute !important;
  z-index: -200 !important;
}
.text-welcome {
  font-family: "Poppins", sans-serif;
  color: #ffffff !important;
  position: relative !important;
  margin: 180px 0px 0px 155px !important;
  font-weight: bold !important;
}

/******************** form input field styling ****************/
.form-container {
  position: absolute !important;
}
.formPosition {
  font-family: "Poppins", sans-serif;
  max-width: 250px !important;
  position: relative !important;
  margin: 250px 0px 0px 110px !important;
  color: #ffffff !important;
}

.custom-input {
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 2px solid lightgray !important;
  background-color: transparent !important;
  max-height: 30px !important;
  color: #ffffff !important;
}

.custom-input:hover {
  border-color: yellow !important;
}

.text-username,
.text-password {
  font-weight: 700;
}

/******************** **********forgot password********** *******************/
.forgot-pass {
  margin: -15px 0px 0px 100px !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: bold !important;
}

/******************************* button login styling************************* */

.button-login {
  max-width: 260px !important;
  margin-left: -5px !important;
  font-family: "Poppins", sans-serif !important;
  background-color: #ff862d !important;
}
