.accordionHeaderStyle>button
{
    background-color: #FF862D !important;
    color: #f8f8f8;
    display: grid;
    grid-template-columns: 50fr 1fr 1fr;
}

.checkBoxStyle */
{
    /* position: relative; */
    /* left: 0; */
    /* margin-start: auto; */
}