@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.EmpUpdateHeader{
 background-color: #FF862D;
 color: white;
 font-family: "Poppins";

}
.header-empUpdate{
   margin: -20px 0px 15px 350px;

}
.header-name-update{

    /* top right bottom left */
       margin: -25px 0px -18px 350px;
       
 }
 .thin-Rounded{
  width: 800px;
  height: 230px;
  outline-style: solid;
  outline-color: #1F3130;
  border-radius: 10px;
  font-size: 25px;
  
  /* top right bottom left */
  margin: 30px 0px 15px 20px;

}


 /* Customize the width of the modal dialog */
.modal-dialog {
    max-width: 700px; /* Adjust the width according to your needs */
  }
  
  /* Optional: If you want to center the modal horizontally */
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

 
  Button {
    margin-left: 10px;
    border-radius: 50px;
  }

  .buttonAction{
    margin-left: 20px;
  }

  .UpdateEmpHistory{
    background-color: #28A745;
    margin-left: 650px;
  }

  .rec-company-name ,.rec-position , .rec-end , .rec-start{
    /* background-color: #545151; */
    width: 350px;
    height: 70px;
    border-radius: 10px;
   
  /* top right bottom left */
  margin: 30px 0px 0px 40px;
  }
  .update-company-sub , .update-position-sub , .update-end-sub , .update-start-sub{
    margin-top: -15px;
  }