.personal-info-header {
    background-color: #FF862D;
    color: white;
  }


.modal-body{
    background-color: #D9D9D9;
    padding: 30px;
    
}
  
  .separator {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .group-title {
    margin-top: 20px;
    margin-bottom: 10px;
  }

