input:invalid,
select:invalid {
  border: 2px solid rgb(248, 208, 8);
}

.personal-info-header {
  background-color: #ff862d;
  color: white;
}

.modal-body {
  background-color: #d9d9d9;
  padding: 30px;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.separator {
  margin-top: 20px;
  margin-bottom: 20px;
}

.group-title {
  margin-top: 20px;
  margin-bottom: 10px;
}
